:root {
    --h-header: 70px;
    --w-aside: 70px;

    --clr-light-gray: #E5E5E5;
}


.as_w-40 {
    width: 40%;
}

/* general */
body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

/* header */
header {
    height: var(--h-header);
}

header img {
    width: 50px;
}

header .as_glass-icon,
input {
    background-color: var(--clr-light-gray);
}

/* main */
main {
    height: calc(100% - var(--h-header));
}

.as_main-contents {
    width: calc(100% - var(--w-aside));
    overflow: auto;
}
/* aside */
aside {
    width: var(--w-aside);
    background-color: #051E34;
    background-image: url(./asset/img/sidebar-bg.png);
}

aside .as_aside-icons:hover {
    background-color: rgba(255, 255, 255, 0.367);
    cursor: pointer;
}
/* info */
.as_students-infos .badge{
    background-color: #165BBA;
    font-size: 1 rem;
}
/* table */
table img {
    width: 30px;
  }
  
  
  table tr:hover td {
    background-color: #F7F7F7;
  }
  
  table th:not(:first-child),
  table td:not(:first-child) {
    text-align: center;
  }
  
  table th:nth-child(2),
  table td:nth-child(2), 
  table th:nth-child(3),
  table td:nth-child(3) {
    display: none;
  }
  
  .as_th-start-date {
    width: 160px;
  }
  
  .as_th-status {
    width: 120px;
  }
  
  .as_th-actions {
    width: 120px;
  }
  
  .action{
    border: 1px solid gray;
    color: gray;
    border-radius: 10%;
    padding: 5px;
  }
/* media query */
@media (min-width: 768px) {
    body {
        --w-aside: 75px;
    }
}

@media (min-width: 1200px) {
    body {
        --w-aside: 150px;
    }
}